<section id="__posts" class="__posts_categories" title="Postagens" tabindex="-1">

    {% for post in site.categories[page.category] %}

    <div class="post-resume" tabindex="0">
        <header class="header-post">
            <span class="title">
                <a href="#" alt="{{ post.title }}">
                    <time datetime="{{ post.date }}" itemprop="datePublished">{{ post.date | date: site.dateformat }}</time> : <b>{{ post.title }}</b>
                </a>
            </span>
            <a class="readmore-icon-categories" href="{{ post.url | prepend:site.baseurl }}">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </header>
        <a href="#__shortcuts" class="link-ace" title="Atalhos: ctrl, alt,  2 para postagens, 3 para categorias, 4 para pesquisa, 5 para paginação, 1 para voltar neste menu,  v para voltar para página inicial"></a>
    </div>
    {% endfor %}
</section>
