<section id="__categories" class="__categories" title="Categorias" tabindex="-1">
    <div class="well">
        <span class="title">Categorias</span>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                {% for category in site.categories %}
                    <li><a title="Categoria" href="{{ site.baseurl }}/categoria/{{ category | first | slugify }}">{{ category | first | capitalize }} </a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>