<!-- First Blog Post
            LANCE PRA DAOTONICO
            FUNCAO JAVASCRIPT PRA CRIAR ORDEM DE TAB
            Passar por todos titulos primeiro via tab, e entrar numa classe post com algum comando
            DENTRO DO POST
                <p class="lead">
                    by <a href="index.php">Start Bootstrap</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>

                https://www.w3schools.com/tags/ref_standardattributes.asp
                standart atttributes global para acessibilidade

                http://www.adeva.org.br/servicos/acessibilidadedesites.php

                https://webdesign.tutsplus.com/articles/accessibility-basics-designing-for-visual-impairment--cms-27634
                
                https://www.w3.org/WAI/GL/wiki/Creating_Logical_Tab_Order_with_the_Tabindex_Attribute

                https://davidwalsh.name/tabindex-focus

                https://www.w3.org/TR/WCAG20-TECHS/H4.html

                http://ux.sapo.pt/usabilidade/web/navegacao/

                for google
                tabindex usage

             -->

<header class="header hidden-xs hidden-sm">
    <div class="container">
        <div class="col-lg-8">
            <div class="wrapper">
                <div class="__img">
                    <a href="{{ site.baseurl }}/" title="Voltar para página inicial">
                        <img src="{{ site.baseurl }}/assets/imgs/presentationimg.jpg" class="img-circle img-responsive">
                    </a>
                </div>
                <div class="__bio">
                    <p>Olá meu nome é <b>Ramon</b>!
                    </p>
                    <p>Trago nesse blog um monte de <b>dicas</b> bacanas, <b>conteúdo simples</b> e direto e também <b>resoluções de problemas</b> típicos no desenvolvimento de aplicações web.</p>
                    <p><b>Ta perdido?</b> Chega mais que vou te dar um norte!</p>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="navbar navbar-default navbar-fixed-top visible-xs visible-sm">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            <a href="{{ site.baseurl }}/" class="navbar-brand" title="Voltar para página inicial">
                <img src="{{ site.baseurl }}/assets/imgs/presentationimg.jpg" class="img-circle">
            </a>
            <p class="navbar-text">Blog</p>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorias <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for category in site.categories %}
                        <li><a title="Categoria" href="{{ site.baseurl }}/categoria/{{ category | first | slugify }}">{{ category | first | capitalize }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
