<!-- First Blog Post
            LANCE PRA DAOTONICO
            FUNCAO JAVASCRIPT PRA CRIAR ORDEM DE TAB
            Passar por todos titulos primeiro via tab, e entrar numa classe post com algum comando
            DENTRO DO POST
                <p class="lead">
                    by <a href="index.php">Start Bootstrap</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>

                https://www.w3schools.com/tags/ref_standardattributes.asp
                standart atttributes global para acessibilidade

                http://www.adeva.org.br/servicos/acessibilidadedesites.php

                https://webdesign.tutsplus.com/articles/accessibility-basics-designing-for-visual-impairment--cms-27634
                
                https://www.w3.org/WAI/GL/wiki/Creating_Logical_Tab_Order_with_the_Tabindex_Attribute

                https://davidwalsh.name/tabindex-focus

                https://www.w3.org/TR/WCAG20-TECHS/H4.html

                http://ux.sapo.pt/usabilidade/web/navegacao/

                for google
                tabindex usage

             -->

<header class="header">
    <div class="wrapper">
        <div class="__img">
            <img src="{{ site.baseurl }}/imgs/presentationimg.jpg" alt="" class="img-circle img-responsive">
        </div>
        <div class="__bio">
            <p>Eu sou <b>Ramon</b>, criei este blog porque quero <b>MUITO</b> compartilhar minha experiência com você!</p>
        </div>
    </div>
</header>