<section id="__pagination" class="__pagination" title="Paginação">
    <ul class="pager">
        {% if paginator.previous_page %}
        <li class="previous">
            <a href="{{ paginator.previous_page_path }}">&larr; Anterior</a>
        </li>
        {% else %}
        <li class="previous">
            <span>&larr; Anterior</span>
        </li>
        {% endif %}
        <span class="page_number ">Página: {{ paginator.page }} de {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
        <li class="next">
            <a href="{{ paginator.next_page_path }}">Próximo &rarr;</a>
        </li>
        {% else %}
        <li class="next">
            <span>Próximo &rarr;</span>
        </li>
        {% endif %}
    </ul>
</section>