<section id="__posts" class="__posts" title="Postagens" tabindex="-1">
    {% for post in paginator.posts %}
    <div class="post-resume" title="Resumo do post" tabindex="0">
        <header class="header-post">
            <div class="category-img">
                <img src="{{ site.baseurl }}/assets/imgs/{{ post.category }}.png" class="__img" alt="{{ post.category }}"
                     title="{{ post.category }}"/>
            </div>
            <span class="post-content">
                    <a class="title" href="#" alt="{{ post.title }}"><b>{{ post.title }}</b></a>
                        <p class="resume">
                            <a href="#">
                                <span class="resume-span">Resumo: </span>{{ post.resume }}
                            </a>
                        </p>
                        <a title="Ir para o post" class="readmore-icon" href="{{ post.url | prepend:site.baseurl }}" tabindex="-1"></a>
                        <a href="{{ post.url | prepend:site.baseurl }}" title="Ir para o post" class="readmore-icon" >
                            <i alt="Ir para post" class="glyphicon glyphicon-chevron-right"></i>
                        </a>
            </span>
              <a href="#__shortcuts" class="link-ace" title="Atalhos: ctrl, alt,  2 para postagens, 3 para categorias, 4 para pesquisa, 5 para paginação, 1 para cabeçalho de referências,  v para voltar para página inicial"></a>
        </header>
    </div>
    {% endfor %}
</section>
