<header id="__shortcuts" title="Menu rápido" tabindex="-1">
    <a class="link-ace" tabindex="1" title="Atalhos: ctrl, alt,  2 para postagens, 3 para categorias, 4 para pesquisa, 5 para paginação, 1 para voltar neste menu,  v para voltar para página inicial"></a>
    <a class="link-ace" tabindex="2" title="Ir para postagens"></a>
    <a class="link-ace" tabindex="3" title="Ir para categorias"></a>
    <a class="link-ace" tabindex="4" title="Ir para barra de pesquisa"></a>
    <a class="link-ace" tabindex="5" title="Ir para paginação"></a>
</header>