.content-section {
  margin-top: 15px;
  padding: 20px 45px;
  background-color: $white;
}

.post-resume {
  position: relative;
  padding: 10px;
  margin: 20px 0px;
  border: 1px solid $background-gray;
  background: $white;

  .__img {
    width: 60px;
    height: 60px;
    margin-top: 25%;
  }

  .header-post {
    background: $white;
    display: table;
    width: 100%;
    min-height: 100px;

    .title {
      position: relative;
      font-size: 1.5em;
      padding-left: 10px;
      display: table-cell;
      vertical-align: middle;

      .resume {
        font-size: initial;
        margin-right: 100px;
      }
    }
  }

  .readmore-icon {
    position: absolute;
    right: 5px;
    bottom: 20%;
    font-size: 1.5em;
  }
}


.date-title {
  background: #3A4250;
  color: #fff;
  width: 80px;
  border-right: 5px solid #fff;
  display: table-cell;
  font-weight: 700;
  text-align: center;
  font-family: 'Lucida Sans', sans-serif;
  vertical-align: middle;
}