.__post {
  text-align: justify;
  h2,
  h3,
  h4 {
    font-weight: bold;
  }
  p {
    margin-bottom: 5px;
  }
  @media (max-width: $max-wid-sm) {
    h2 {
      font-size: 1.5em;
    }
    h3 {
      font-size: 1.3em;
    }
    h4 {
      font-size: 1.2em;
    }
  }
}
