<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Blog de tecnologia preparado para deficientes visuais">

    <title>{{ page.title }}</title>

    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/blog-home.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/main.css" rel="stylesheet"> 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
{% include header.html %}

<div class="container">
    {% include shortcutHeader.html %}

    <div class="row">
        {{ content }}
        <aside class="col-md-4">
            {% include searchbar.html %} {% include categories.html %}
        </aside>
    </div>

    {% include footer.html %}
</div>


<script src="{{ site.baseurl }}/js/jquery.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

<script>
    /*
     Type: Standart Basic Latin decimal
     number - keyCode
     Numbers (0 to 9): [0 - 48, 1 - 49, 2 - 50, 3 - 51, 4 - 52, 5 - 53, 6 - 54, 7 - 55, 8 - 56, 9 - 57]
     Site: http://www.utf8-chartable.de/unicode-utf8-table.pl?utf8=dec
     */
    var hotNum = {zero: 48, one: 49, two: 50, three: 51, four: 52, five: 53, six: 54, seven: 55, eight: 56, nine: 57}

    var onKeyDown = function (e) {
        var key = e.keyCode || e.charCode || e.which;
        //     CTRL   +   SHIFT
        if (e.ctrlKey && e.shiftKey) {
            if (key == hotNum.one)
                document.getElementById('__shortcuts').focus();
            if (key == hotNum.two)
                document.getElementById('__posts').focus();
            if (key == hotNum.three)
                document.getElementById('__categories').focus();
            if (key == hotNum.four)
                document.getElementById('__searchbar').focus();
            if (key == hotNum.five)
                document.getElementById('__pagination').focus();
        }
    }

    try {
        if (window.addEventListener) {
            window.addEventListener("keydown", onKeyDown, true);
        } else if (window.addEventListener) { // IE
            alert(document);
            window.addEventListener("onkeydown", onKeyDown);
        } else {
            document.addEventListener("keydown", onKeyDown, true);
        }
    } catch (e) {
        alert(e);
    }


    var Accessibility = (function (win, doc) {

        var init = (function (doc) {
            var _private = {};
            var _public = {};
            var _config = {
                posts: {
                    id: '__posts',
                    accesskey: 'u',
                },
                categories: {
                    id: '__categories',
                    accesskey: 'i'
                },
                searchbar: {
                    id: '__searchbar',
                    accesskey: 'o'
                },
                pagination: {
                    id: '__pagination',
                    accesskey: 'p'
                }
            };

            _private.initAllElements = function () {
                _private.posts = doc.getElementById(_config.posts.id);
                _private.categories = doc.getElementById(_config.categories.id);
                _private.searchbar = doc.getElementById(_config.searchbar.id);
                _private.pagination = doc.getElementById(_config.pagination.id);

                _private.posts.accesskey = _config.posts.accesskey;
                _private.categories.accesskey = _config.categories.accesskey;
                _private.searchbar.accesskey = _config.searchbar.accesskey;
                _private.pagination.accesskey = _config.pagination.accesskey;

            };

            _private.initAllElements();

            _public.setConfig = function (config) {
                _config.posts = config.posts || _config.posts;
                _config.categories = config.categories || _config.categories;
                _config.searchbar = config.searchbar || _config.searchbar;
                _config.pagination = config.pagination || _config.pagination;
                _private.initAllElements();
            };

            return _public;
        })(doc);

        return init;

    })(window, document);
</script>
</body>

</html>